*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac dot underscore files
._*

*.wav
*.h5
.DS_Store
nohup.out
*.bin
*.tab
.fuse*
playing\ around.ipynb
*.log
.ipynb_checkpoints

*.out
*.pdf
*.aux
*.toc
*.orig
*.idx
*.mp4
*.html
notebooks/Badly formatted files_files
*.swp
.spyderworkspace
notebooks/**/*.csv
notebooks/**/*.txt
notebooks/plots
*.sublime-*
*.old

doc/_build/
**/*.png
