# Configuration file for Diviner L1B processing

[version]
product_version_id    = 1        					                # Product Version Id (PDS)

[paths]
# Where inputs and outputs reside
indata_root     = /project/dlre_repository/level_1a      			      # Where the L1A input comes from
outdata_root    = ../test/level_1b        					              # Where L1B data goes by default (cmd-line overrides)
kernel_root     = ../test/spice/kernels					                  # Where kernels comes from and go to
orbit_root      = /project/dlre_repository/spice/orbits					  # Where orbit information comes from
ttable_root     = ../config/tables/thermal_tables	                      # Where thermal channel tables come from
stable_root     = ../config/tables/solar_tables		                      # Where solar channel tables come from
edrlabel_root	= /project/dlre_repository/edr						      # Where EDR Labels can be located
dthreshold_path	= ../config/detector_tables/det_threshold_20110313.txt    # Detector Threshold file
noise_path	    = ../config/noise_tables/noise_20110118.txt               # Noise file
eclipse_path	= ../config/eclipse_tables/dlre_eclipses_20110315.txt	  # Eclipse file

[skipping]
# Number of samples to skip before calibrating
# Per Tim S. via Ben G. 09/22/2010
spaceview_num_skip_sample			= 16   
blackbodyview_num_skip_sample			= 16 
solartargetview_num_skip_sample			= 16

[time_boundaries]
# Boundaries on time that impact the regions of interest
spaceview_dist			= 14400		# 4 * 60 * 60 = 4 hours
tc_marker_dist			= 3600		# 1 * 60 * 60 = 1 hour
vc_marker_dist			= 14400		# 4 * 60 * 60 = 4 hours
tc_marker_dist_oob		= 750		# 1 * 12.5 * 60	= 12.5 minutes (Per Tim S.)
vc_marker_dist_oob		= 9000		# 2.5 * 60 * 60 = 2.5 hours (Per Tim S.)

[constants]
# Constants for when we resort to lowest-quality thermal channel calibration.  Will
# change once we have experience with the instrument in flight.  Offset of 0.0 and gain
# of 1.0 are equivalent to no calibration when using linear equation for calibration.
tchan_offset_constant	= 0.0
tchan_gain_constant		= 1.0

# Constants for when we resort to lowest-quality visible channel calibration.  Will
# change once we have experience with the instrument in flight.  Offset of 0.0 and gain
# of 1.0 are equivalent to no calibration when using linear equation for calibration.
vchan_offset_constant	= 0.0		# Per Ben 11/2009 
vchan_gain_constant		= 0.01		# Per Ben 11/2009 

# Constants for converting normalized radiance to calibrated radiance.  Provided by Marc
# Foote.
chan1_calrad_constant	= 6.7121309e-002
chan2_calrad_constant	= 6.7121309e-002
chan3_calrad_constant	= 4.2630493e+000
chan4_calrad_constant	= 2.8704298e+000
chan5_calrad_constant	= 2.9310925e+000
chan6_calrad_constant	= 4.8863398e+001
chan7_calrad_constant	= 1.5271776e+001
chan8_calrad_constant	= 2.4428466e+000
chan9_calrad_constant	= 5.7251442e-001


[temperature_boundaries]
# Attributes of temperature that impact quality flags.  These impact thermal and
# visible channels in an identical manner.  We have a range where temperature is
# within bounds and we have a rate of change.
temp_min_boundary       = 10        # Degrees Centigrade (an educated guess from Marc Foote)
temp_max_boundary       = 60        # Degrees Centigrade (an educated guess from Marc Foote)
temp_max_rate_change    = 5         # Units might be Degrees Centigrade per minute (complete WAG)


